.PDMCODE {
         background-color: #eeeeee; font-family: "Monospace","Courier New"; font-size:10pt;
         color:#000000;
         padding: 0.5em 0.5em 0.5em 0.5em;
         margin: 0px;
         }

.PDMEXPR {
         background-color: #eeeeee; font-family: "Monospace","Courier New"; font-size:10pt;
         color:#000000;
         border-color:#000000;
         border-width:1px;
         border-style:solid;
         padding:1px;
         margin: 0px;
         }

.PDMCom  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; font-style:italic;color:#008000;}
.PDMRes  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResC {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResK {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResF {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResP {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResM {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMResE {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMVar  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#800000;}
.PDMStr  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#FF0000;}
.PDMLit  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#000000;}
.PDMNor  {font-family:"Monospace","Courier New";font-size:0.9em; color:#000000;}
.PDMOper {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#0000FF;}
.PDMCnt  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#000000;}
.PDMInd  {font-family:"Monospace","Courier New";font-size:0.9em;font-weight:bold; color:#000000;}
